<!DOCTYPE html>
<html>

<head>
    <title>Zen</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/blog2/bin/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/blog2/bin/style.css">
</head>

<body>
    <div class="container">
        <div class="page-header text-center">
            <h1><a href="/blog2">Zen</a></h1>
        </div>
        <ol class="breadcrumb">
            <li><a href="/blog2/2017/06/05/web-apps.html">Apps</a></li>
        </ol>
        {{ content }}
        <hr>
        <center>
            <a href="http://line.me/ti/p/~mzaini30">
                <img src="/blog2/bin/line.png" width="50">
            </a>
        </center>
        <br>
    </div>
</body>

</html>
